* {
    box-sizing: border-box;
}

.parent {
    margin: 0;
    /*width: 992px;*/
}

.parent::after {
    content: '';
    clear: both;
    display: block;

}

.first {
    width: 50%;
    height: 200px;
    background: #ff0000;
    float: left;
    border: 5px solid #eee;
}

.second {
    width: 25%;
    height: 200px;
    background: #5eff00;
    float: left;
    border: 5px solid #eee;
}

.third {
    width: 33.3333%;
    height: 250px;
    background: #00ffea;
    float: left;
    border: 5px solid #eee;
}

.fourth {
    width: 11.1111%;
    height: 100px;
    background: #D000FFFF;
    float: left;
    border: 5px solid #eee;
}


@media (max-width: 992px) {
    .first {
        width: 50%;
    }

    .second {
        width: 25%;
    }

    .third {
        width: 33.3333%;
    }

    .fourth {
        width: 11.1111%;

    }
}

@media (max-width: 768px) {
    .first {
        width: 100%;
    }

    .second {
        width: 50%;
    }

    .third {
        width: 100%;
    }

    .fourth {
        width: 33.3333%;

    }
}